/**********************************************************
***
****                     Estilos propios*****************
***********************************************************/
/*FUENTES*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800|Raleway:400,700,900|Roboto');

$fuente-principal:'Open Sans', sans-serif;

/* colores */

$blanco: #eee8d6;
$azulOscuro: #292b2c;
$amarillo: #ffba00;
$azul: #0076a3;
$verde: #548c27;
$rojo: #fe2d28;
$morado: #6d73c2;
$negro: #000000;
$celeste:#3699DB;

/* colores de contenido*/
$color-etiqueta:$celeste;
$color-fondo: $azul;
$color-principal: $negro;
$color-titulos:$amarillo;
$fondo-section:$azulOscuro;
$color-borde-noticia:$blanco;
$color-header-noticia:$blanco;
$color-texto-noticia:$blanco;


/*******************************************
*               mixins                  ***
******************************************/

$tablet: 768px;
$desktop: 1024px;

@mixin tablet {
  @media only screen and (min-width: #{$tablet}) {
      @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: #{$desktop}) {
      @content;
  }
}
/*********************************************************
****              Estilos del HEADER                  ****
**********************************************************/


header{
    background-color: #f2f3f3;
    padding: 3rem 0;
}



header h1{
    color: #2f4152;
    font-family: Raleway;
    font-weight: bold;
    font-size: 4rem;
}

header h3{
    color: #2f4152;
    font-family: 'Open Sans';
    font-weight: bold;
        margin-bottom: 2rem;
}

//ESTILOS NAVBAR

nav {
    background-color: #2f4152;
    border-radius: 10px;


}

.navbar{
    padding: 0;
}

nav {

  ul{
        list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0;
    padding: 0;
  }
}


.nav-item {
    color: rgba(255, 255, 255, 1);
    font-size: 1.5rem;
}

i.fa.fa-bars {
    font-size: 3rem;
}
.experience, .education{
    background-color: $fondo-section;
}

.datos{
  padding: 0.3rem;

  h4{
    background-color: #292B2C;
    color: #fff;
    text-align: center;
    padding: 0.5rem;
    margin-bottom: 1.3rem;

    }

  ul{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    margin: 0;
    padding: 0;

    a{
      color: #2f4152;
      &:hover{
        color:#2f41ff;
      }
    }

  }
}

.skills{
  h4{
    background-color: #292B2C;
    color: #fff;
    text-align: center;
    padding: 0.5rem;
    margin-bottom: 1.3rem;

    }
}

/********************************************
*                                            *
*         estract styles                     *
*                                            *
* *******************************************/

.resumen{
  @include tablet{
    padding: 3rem 0;
    .resena{
      p{
        line-height: 2.5rem;
      }
    }
  }

}

.datos{
  p{
    font-size: 1.2rem;
  }

  ul{
    font-size: 2rem;
  }
  @include tablet{
    padding: 2rem 0;
    p{
      display: inline-block;
      margin-left: 0.8rem;
      margin-bottom: 1.8rem;
    }

    ul{
      font-size: 3rem;
    }
  }
}

/***********************************************
*                                               *
*      ESTILOS DE LOS PROGRESS BAR              *
*                                               *
*************************************************/
div.chart {
    position:relative;
    margin:auto;
    width:220px; height:220px;
}
canvas {
    display: block;
    position:absolute;
    top:0;
    left:0;
}
span {
    color:#555;
    display:block;
    line-height:220px;
    text-align:center;
    width:220px;
    font-family:sans-serif;
    font-size:40px;
    font-weight:100;
    margin-left:5px;
}

/**
* fin de los estilos de progress bar *
**/

.skilltype{
  text-align: center;
  h3{
    margin: 1rem 0 2.3rem;
  }
}

/* estilos caja experince */

.experience{
  h2{
    color: $blanco;
    background-color: $color-etiqueta;
    padding: 0.3rem;
    margin: 1rem 0;
    text-align: center;
    border-radius: 0.5rem;
  }

  h3{
    color: $blanco;
    background-color: $color-etiqueta;
    padding: 0.3rem;
    margin: 1rem;
    text-align: center;
    border-radius: 0.5rem;
  }

  ul{

      li{
        list-style-type: disc;
        p{
          span {
              color: #555;
              display: block;
              text-align: center;
              width: 220px;
              font-family: sans-serif;
              font-size: 1.5rem;
              font-weight: 100;
              margin-top: 1rem;
              margin-left: 0px;
              line-height: 3rem;
          }

          color:#fff;
        }
      }

  }
}

/* estilos caja education*/

.education{
  h2{
    color: $blanco;
    background-color: $color-etiqueta;
    padding: 0.3rem;
    margin: 1rem 0;
    text-align: center;
    border-radius: 0.5rem;
  }

  h3{
    color: $blanco;
    background-color: $color-etiqueta;
    padding: 0.3rem;
    margin: 1rem;
    text-align: center;
    border-radius: 0.5rem;
  }

  ul{

      li{
        list-style-type: disc;
        p{
          span {
              color: #555;
              display: block;
              text-align: center;
              width: 220px;
              font-family: sans-serif;
              font-size: 1.5rem;
              font-weight: 100;
              margin-top: 1rem;
              margin-left: 0px;
              line-height: 3rem;
          }

          color:#fff;
        }
      }

  }
}

/* estilos del social foot*/

.contact{
  text-align: center;
  margin-top: 1rem;
  span{
    font-size: 1.5rem;
    line-height: 1rem;
    text-align: center;
    display: inline;
  }

  p{
    font-size: 1.3rem;
  }
}

.social-foot{
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  margin: 0;
  padding:  0.3rem 0 3rem 0;
  font-size: 1.5rem;
  @include tablet{
    font-size: 2rem; 
  }
}
